{% extends "base.html" %}

{% block content %}

    <div class="landing-page">
        <div class="content">
            <div class="row">
                <div clas="col-md-12">
                    <h2 class="text-center">Welcome to Looting Dungeons</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 .col-md-offset-3">
                    <img src="/static/img/behe.gif" alt="Behemoth">
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block script %}

{% endblock script %}
