<div class="col-md-4">
    <h4 class="form-signin-heading gold-font text-center">Equipment</h4>
    <div class="row p-t-20">
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4 text-center head-eq">
            {% if  helmet %}
                <img src="{{ helmet.sprite_url }}">
            {% endif %}
        </div>
        <div class="col-md-4 text-center"></div>
    </div>
    <div class="row p-t-20">
        <div class="col-md-4 text-center weapon-eq">
            {% if weapon %}
                <img src="{{ weapon.sprite_url }}">
            {% endif %}
        </div>
        <div class="col-md-4 text-center armor-eq">
            {% if armor %}
                <img src="{{ armor.sprite_url }}">
            {% endif %}
        </div>
        <div class="col-md-4 text-center shield-eq">
            {% if  shield %}
                <img src="{{ shield.sprite_url }}">
            {% endif %}
        </div>
    </div>
</div>