<div class="col-md-4">
    <h4 class="form-signin-heading gold-font text-center">Items</h4>
    <div class="col-md-12">
        <div class="list-group items-list" id="item-list">
            {% for item in user_profile.items.all %}
                <li class="list-group-item list-group-item-action list-group-item-primary">
                    {{ item.name }}
                    {% if item.defence %}
                        (Def: {{ item.defence }})
                    {% elif item.atk %}
                        (Atk: {{ item.atk }})
                    {% else %}
                        (Arm: {{ item.arm }})
                    {% endif %}
                    <a href="" class="pull-right">Sell</a>
                    <p class="d-inline pull-right"> | </p>
                    <a href="" class="pull-right">Equip</a>
                    <p class="d-inline pull-right"> | </p>
                    <a href="" class="pull-right">Take off</a>
                </li>
                {{ item.get_best_armor }}
            {% endfor %}
        </div>
    </div>
</div>
