<div class="row divider-20">
    {% for monster in monsters %}
        <div class="col-md-4" id="monster-id-{{ monster.id }}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ monster.monster.name }}</h5>
                    HP: <p class="monster-hp-current" style="display:inline">{{ monster.health_left }}</p>/<p
                        class="monster-hp-max"
                        style="display:inline">{{ monster.monster.health }}</p>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar"
                             style="width: {{ monster.get_health_percentage }}%"
                             aria-valuenow="{{ monster.health_left }}" aria-valuemin="0"
                             aria-valuemax="{{ monster.monster.health }}"></div>
                    </div>
                    <div class="row divider-20">
                    </div>
                    <div class="row divider-20">
                        <div class="col-md-12 text-center">
                            <img src="{{ monster.monster.sprite_url }}" alt="{{ monster.monster.name }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center divider-10">
                            <button onclick="attackMonster('{% url 'dashboard:attack' monster.id %}', {{ user_profile.get_level }})"
                                    class="btn btn-primary w-100">Attack
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script src="/static/js/adventure.js"></script>