<script>
    function updateHealth(data) {
        var selected_id = ("#monster-id-" + data.user_monster_id);
        var monster_health_left_text = $(selected_id + ' .monster-hp-current');
        monster_health_left_text.text(data.health_left + '');
        var monster_health_bar = $(selected_id + ' .progress-bar');
        monster_health_bar.attr('aria-valuenow', data.health_left + '').css('width', data.percentage + '%');
    }

    function replaceOldMonster(data, level) {
        var replacedId = "#monster-id-" + data.killed_monster_id;
        var card_name = $(replacedId + ' .card-title');
        card_name.text(data.monster.name);
        var monster_health_left_text = $(replacedId + ' .monster-hp-current');
        monster_health_left_text.text(data.monster.health + '');
        var monster_health_max_text = $(replacedId + ' .monster-hp-max');
        monster_health_max_text.text(data.monster.health + '');
        var monster_health_bar = $(replacedId + " .progress-bar");
        monster_health_bar.attr('aria-valuenow', data.monster.health + '').css('width', '100%');
        monster_health_bar.attr('aria-valuemax', data.monster.health + '').css('width', '100%');
        var image = $(replacedId + " img");
        var d = new Date();
        image.attr('src', data.monster.sprite_url);
        image.attr('alt', data.monster.name);
        var button = $(replacedId + " button");
        var attack_url = '/dashboard/' + data.user_monster_id + '/attack/';
        var funcName = "attackMonster('" + attack_url + "'," + level + ")"; //level should come from server in case it was updated
        button.attr('onclick', funcName);
        $(replacedId).attr('id', 'monster-id-' + data.user_monster_id);
    }

    function updatePlayer(data) {
        var player_div = "#player-id-" + data.user_profile.id;
        $(player_div + " .player-level").text(data.level);
        $(player_div + " .player-experience").text(data.user_profile.experience);
        $(player_div + " .player-gold").text(data.user_profile.gold);
    }

    function appendToLog(text, color_class){
        var d = moment(new Date()).format("HH:mm:ss: ");
        $("#log-list").prepend('<li class="list-group-item list-group-item-action ' + color_class + '">' + d + text + '</li>');
    }

    function attackMonster(url, level) {
        {#        var user_monster = {'user_monster_id': catid}#}
        {#        $.get(`/rango/like_category/${}`, {category_id: catid}, function (data) {#}
        {#            #}
        {#    }#}
        {#                url = {% url 'dashboard:attack' user_monster_id %};#}
        {#        console.log(url);#}
        {#        url = url#}
        var extra_data = {level: JSON.stringify(level)};
        $.ajax({
            {#            type: "GET",#}
            url: url,
            dataType: "JSON",
            data: extra_data,
            success: function (data) {
                console.log(data);
                if (data.killed) {
                    replaceOldMonster(data, level);
                    updatePlayer(data);
                    appendToLog(data.damage_message, "list-group-item-danger");
                    appendToLog(data.experience_message, "");
                } else {
                    updateHealth(data, level);
                    appendToLog(data.damage_message, "list-group-item-danger");

                }
            },
            error: function () {
                console.log('error');
            }
        });

    }
</script>
<div class="row divider-20">
    {% for monster in monsters %}
        <div class="col-md-4" id="monster-id-{{ monster.id }}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ monster.monster.name }}</h5>
                    HP: <p class="monster-hp-current" style="display:inline">{{ monster.health_left }}</p>/<p
                        class="monster-hp-max"
                        style="display:inline">{{ monster.monster.health }}</p>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar"
                             style="width: {{ monster.get_health_percentage }}%"
                             aria-valuenow="{{ monster.health_left }}" aria-valuemin="0"
                             aria-valuemax="{{ monster.monster.health }}"></div>
                    </div>
                    <div class="row divider-20">
                    </div>
                    <div class="row divider-20">
                        <div class="col-md-12 text-center">
                            <img src="{{ monster.monster.sprite_url }}" alt="{{ monster.monster.name }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center divider-10">
                            <button onclick="attackMonster('{% url 'dashboard:attack' monster.id %}', {{ user_profile.get_level }})"
                                    class="btn btn-primary w-100">Attack
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
